In [12]:
# import dependencies
import pandas as pd
import csv
from datetime import datetime

In [13]:
# read in csv
cities_df = pd.read_csv("resources/cities.csv")
cities_df

,city_id,city,cloudiness,country,date,humidity,lat,lng,maxtemp,windspeed
0,4034551,Faanui,17,PF,1579884368,74.0,-16.48,-151.75,28.00,6.50
1,5122534,Jamestown,90,US,1579884368,41.0,42.10,-79.24,7.22,5.10
2,4032243,Vaini,40,TO,1579884368,83.0,-21.20,-175.20,25.00,3.60
3,710408,Chopovychi,99,UA,1579884368,73.0,50.83,28.95,0.41,6.35
4,5384339,Port Hueneme,1,US,1579884328,66.0,34.15,-119.20,20.56,1.50
...,...,...,...,...,...,...,...,...,...,...
556,2026023,Bukachacha,0,RU,1579884429,98.0,52.98,116.92,-28.95,1.03
557,5127305,Monroe,75,US,1579884429,41.0,43.15,-77.68,7.22,4.10
558,1797535,Qiongshan,31,CN,1579884429,94.0,20.01,110.35,20.00,3.00
559,3663693,Jutai,100,BR,1579884429,87.0,-5.18,-68.90,27.07,1.78
560,2171766,Charlestown,90,AU,1579884429,83.0,-32.95,151.67,25.00,3.10

In [14]:
# delete extraneous column
del cities_df['city_id']
cities_df

# drop cities with missing info
cities_df = cities_df.dropna(how='any')

# check to see if df complete
cities_df.count()

city          557
cloudiness    557
country       557
date          557
humidity      557
lat           557
lng           557
maxtemp       557
windspeed     557
dtype: int64

In [15]:
# convert unix date/time stamp to readable format
cities_df['date'] = pd.to_datetime(cities_df['date'],unit='s')
cities_df['date'] = cities_df['date'].dt.date

/Users/lorelley/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/lorelley/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# name index column
cities_df.index.name = "City Id"

# reformat column names
cities_df = cities_df.rename(columns={"city": "City",
                                     "cloudiness": "Cloudiness",
                                     "country": "Country",
                                     "date": "Date",
                                     "humidity": "Humidity",
                                     "lat":"Latitude",
                                     "lng": "Longitude",
                                     "maxtemp": "Max Temperature (C)",
                                     "windspeed": "Wind Speed"})
cities_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature (C),Wind Speed
City Id,,,,,,,,,
0,Faanui,17,PF,2020-01-24,74.0,-16.48,-151.75,28.00,6.50
1,Jamestown,90,US,2020-01-24,41.0,42.10,-79.24,7.22,5.10
2,Vaini,40,TO,2020-01-24,83.0,-21.20,-175.20,25.00,3.60
3,Chopovychi,99,UA,2020-01-24,73.0,50.83,28.95,0.41,6.35
4,Port Hueneme,1,US,2020-01-24,66.0,34.15,-119.20,20.56,1.50
...,...,...,...,...,...,...,...,...,...
556,Bukachacha,0,RU,2020-01-24,98.0,52.98,116.92,-28.95,1.03
557,Monroe,75,US,2020-01-24,41.0,43.15,-77.68,7.22,4.10
558,Qiongshan,31,CN,2020-01-24,94.0,20.01,110.35,20.00,3.00
559,Jutai,100,BR,2020-01-24,87.0,-5.18,-68.90,27.07,1.78
560,Charlestown,90,AU,2020-01-24,83.0,-32.95,151.67,25.00,3.10

In [17]:
# convert and save df to html file
cities_df.to_html('cities_table.html')